aiohappyeyeballs==2.6.1
aiohttp==3.10.11
aiosignal==1.4.0
annotated-types==0.7.0
anyio==3.7.1
asgiref==3.5.0
async-timeout==5.0.1
attrs==25.4.0
backoff==2.2.1
bcc==0.18.0
bcrypt==4.0.1
blinker==1.4
Brlapi==0.8.3
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.4.4
chrome-gnome-shell==0.0.0
click==8.0.3
colorama==0.4.4
command-not-found==0.3
contourpy==1.3.2
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
dataclasses-json==0.6.7
dbus-python==1.2.18
defer==1.0.6
defusedxml==0.7.1
distro==1.7.0
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
exceptiongroup==1.3.0
fastapi==0.104.1
filelock==3.20.0
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.10.0
ftfy==6.3.1
gunicorn==21.2.0
h11==0.16.0
hidpidaemon==18.4.6
httpcore==1.0.9
httplib2==0.20.2
httptools==0.6.4
httpx==0.25.2
huggingface-hub==0.24.5
idna==3.3
importlib-metadata==4.6.4
inference-sdk==0.59.0
iniconfig==2.1.0
jeepney==0.7.1
Jinja2==3.1.6
kernelstub==3.1.4
keyring==23.5.0
kiwisolver==1.4.9
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
louis==3.20.0
macaroonbakery==1.3.1
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.7
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.7.0
mypy_extensions==1.1.0
neo4j==4.4.12
netaddr==0.8.0
netifaces==0.11.0
networkx==3.4.2
numpy==2.2.6
oauthlib==3.2.0
open_clip_torch==3.2.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
packaging==25.0
pandas==2.3.3
passlib==1.7.4
pillow==9.5.0
pluggy==1.6.0
pop-transition==1.1.2
propcache==0.4.1
protobuf==3.12.4
psutil==7.1.2
py-cpuinfo==9.0.0
pyasn1==0.6.1
pycairo==1.20.1
pycups==2.0.1
pydantic==2.5.0
pydantic-settings==2.1.0
pydantic_core==2.14.1
pydbus==0.6.0
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==3.2.5
pyRFC3339==1.1
pytest==7.4.3
pytest-asyncio==0.21.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.0
python-gnupg==0.4.8
python-jose==3.3.0
python-multipart==0.0.6
python-xlib==0.29
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
regex==2025.10.23
repolib==2.2.1
repoman==1.4.0
requests==2.32.5
rsa==4.9.1
safetensors==0.6.2
scipy==1.15.3
seaborn==0.13.2
SecretStorage==3.3.1
sessioninstaller==0.0.0
six==1.16.0
sniffio==1.3.1
starlette==0.27.0
supervision==0.26.1
sympy==1.13.1
systemd-python==234
timm==1.0.21
tokenizers==0.15.2
tomli==2.3.0
torch==2.5.1+cpu
torchvision==0.20.1+cpu
tqdm==4.67.1
transformers==4.35.2
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ubuntu-drivers-common==0.0.0
ufw==0.36.1
ultralytics==8.3.0
ultralytics-thop==2.0.18
urllib3==1.26.5
uvicorn==0.24.0
uvloop==0.21.0
wadllib==1.3.6
watchfiles==1.1.0
wcwidth==0.2.14
websockets==15.0.1
wsproto==1.0.0
xdg==5
xkit==0.0.0
yarl==1.22.0
zipp==1.0.0
