fastapi==0.104.1
uvicorn[standard]==0.24.0
gunicorn==21.2.0
python-multipart==0.0.6
pillow>=10.0.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
inference
neo4j==4.4.12
pydantic==2.5.0
python-dotenv==1.0.0
ultralytics==8.1.0
supervision==0.15.0
